<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css.css}" />
</head>
<body>
    <header th:fragment="common-header" class="custom-header">
        <nav>
            <ul class="nav-list">
                <li><a th:href="@{/auth/dashboard}" class="nav-link">Home</a></li>
                <li><a th:href="@{/auth/books}" class="nav-link">Books</a></li>
                <li><a th:href="@{/auth/bookcopies}" class="nav-link">Book Copies</a></li>
                <li><a th:href="@{/auth/members}" class="nav-link">Members</a></li>
                <li><a th:href="@{/auth/employees}" class="nav-link">Employees</a></li>
                <li><a th:href="@{/auth/checkouts}" class="nav-link">Checkouts</a></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li class="divider"></li>
                <li th:if="${isAdmin}"><a th:href="@{/admin}" class="nav-link admin-link">Admin Panel</a></li>
                <li>
                    <form th:action="@{/perform_logout}" method="post">
                        <!-- CSRF token is automatically included by Thymeleaf -->
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
